/* hero section */
.hero-section {
  padding-left:10%;
  margin-top: 8%;
}

.hero-image {
  width: 80%;
  height: auto;
}

.fade-up.fade-up-show {
  opacity: 1;
  transform: translateY(0);
}

.download-btn {
  width: 162px;
  height: 48px;
}

.left-sec{
  padding: 10% 1%;
}

.hero-text {
  color: black;
}

.hero-color-text {
  color: #2075f0;
}

.hero-mini-text {
  color: grey;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 0.5s ease-in-out;
}

/* brands section */
.top-brands-section {
  background-color: #f7f7f7;
  padding-top: 80px;
}

.section-heading {
  display: grid;
  place-items: center;
  height: 100%;
  text-align: center;
}

.section-heading h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-heading p {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.swiper-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.swiper-slide {
  display: flex;
}

.brand-item {
  flex: 0 0 25%;
  padding: 0 15px;
  text-align: center;
}

.brand-item img {
  max-width: 100%;
  height: auto;
}

/* products section */

.products-section {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url('https://www.transparenttextures.com/patterns/always-grey.png');
}

.section-heading {
  margin-bottom: 20px;
}

.section-heading h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-heading p {
  font-size: 16px;
  color: #666;
}

.product-card {
  /* background-color: rgba(200, 200, 200, 0.1); */
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 5px solid #7c8489;
  padding: 30px;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.2); */
  z-index: 1;
  transform: scale(0.9);
  transition: transform 0.3s;
}

.product-card::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle at center, rgba(255, 255, 255), rgb(255, 255, 255) 70%); */
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s;
}

.product-card:hover::before,
.product-card:hover::after {
  opacity: 1;
}

.product-image {
  float: left;
  margin-right: 10px;
}


.product-img {
  width: 70%;
  height: 70%;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.product-card:hover .product-img {
  filter: grayscale(0%);
}


.product-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.product-description {
  margin: 10px 0;
  color: black;
}

/* zet-effects-section */

.background-color {
  position: absolute;
  margin-top: 45px;
  padding-top: 20vw;
  padding-bottom: 30vw;
  width: 120vw;
  height: 100%;
  z-index: -2;
  background-color: #145cc5;
  transform: skew(0deg, -10deg);
}

.background-image{
  position: absolute;
  left:15%;
  margin-top: 14.5%;
  width: 70vw;
  z-index: -1;
  display: flex;
  align-items: center;
  background-color: #417fda;
  transform: skew(0deg, -10deg);
}

.centered-img {
  filter: grayscale(100%);
}

.effect-container{
  position: relative;
  top: 20vw;
  width: 500px;
  height: 400px;
  padding-left: 50%;
}

.progress-bar {
  width: 300px;
  height: 10px;
  background-color: #120324;
}


.progress {
  height: 80%;
  background-color: #fff;
  width: 0;
  transition: width 0.5s ease;
}

.slider {
  width: 400px;
  height: 300px;
  overflow: hidden;

}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

.slide p{
  font-size: 1.8rem;
  color: #fff;
}

.slide.active {
  display: block;
}

